{% extends 'rango/base.html' %}
{% load bootstrap3 %}

{% block title_block %}
    Add_category
{% endblock %}

{% block body_block %}


        <form role="form" id="category_form" method="post"
              action="{% url 'rango:add_category' %}">
        <h2 class="form-signin-heading">Add a Category</h2>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Submit
            </button>
        {% endbuttons %}
        </form>

{% endblock %}

